* {
    background-color: #F5D3C8;
}
.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100vh;
    width: auto;
}
.button {
    background-color: #49306B;
    font-size: larger;
    color: white;
}
h1 {
    font-size: xx-large;
}
p {
    font-size: x-large;
}
.clicked {
    background-color: #90708C;
}
.scoreDiv {
    margin-top: 15px;
    text-align: center;
    background-color: #90708C;
    font-size: larger;
    padding: 20px;
    border: 2px solid #49306B
}